* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    margin-top: 200px;
    color: #3A1B8E;
    font-family: Diplomata;
    font-weight: 400;
    font-size: 128px;
}